* {
    margin: 0px;
    padding: 0px;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* numpad properties */
.num {
    width: 75px;
    height: 75px;
    border: 1px solid;
}

.inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;    
}
#inputField {
    height: 50px;
    width: 100%;
    text-align: right;
    font-family: 'Digital-7 Mono', sans-serif;
    font-size: 28px;
}

#zero {
    width: 48.6%;
}

/* section 5 */
#section-5 {
    display: flex;
    width: 327px;

}
#clear-delete-container {
    display: flex;
    width: 250px;
    gap: 9px;
    margin-right: 9px;
}
#clear, #delete {
    width: 117px;
}
#division {
    width: 78px;
}