* {
    margin: 0px;
    padding: 0px;
    font-size: 28px;
    font-family: "SanFranciscoText-Regular";
    color: white;
}

body {
    background-color: #111517;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* numpad properties */
.numpad {
    border: 2px solid #696b6c;
    border-radius: 4px;
}
.num {
    width: 75px;
    height: 75px;
    border: none;
    background-color: #5c5c5e;
    margin: 0px;
    padding: 0px;
}
.num:active {
    background-color: #9c9c9d;
}

.inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: #262628;
}
#inputField {
    height: 75px;
    width: 100%;
    text-align: right;
    font-family: 'Digital-7 Mono', sans-serif;
    font-size: 28px;
}


/* operation color */
.operation {
    color: white;
    background-color: #fe9e0c;
}
.operation:active {
    background-color: #cb7d04;
}
#multiply {
    font-size: 20px;
}


/* section 5 */
.removed {
    background-color: #3b3b3d;
}
.removed:active {
    background-color: #595a5b;
}

/* all sections */
#section-5, #section-4, #section-3, #section-2, #section-1 {
    display: flex;
    width: 300px;
}
.num {
    border: 1px solid black;
}

#zero {
    width: 150px;
}
#clear, #delete {
    width: 112.5px;
}